<footer id="footer" class="clearfix" >
	<div class="container">    
		<!-- #footer-inside -->
        <div id="footer-inside" class="clearfix">
			<div class="row">

                <div class="col-md-3">
                           <div class="footer-second">
								<div class="region region-footer-second">
								<section id="block-views-list-locations-block" class="block block-views clearfix clearfix">
									<h2 class="block-title">AGENDAS</h2>
										<ul class="footer-list">
											<li><a href="https://www.flanerbouger.fr75056-ville-de-paris" title="Paris(capitale) toutes les sorties">Paris</a></li>
											<li><a href="https://www.flanerbouger.fr13055-ville-de-marseille" title="marseille toutes les sorties">Marseille</a></li>
											<li><a href="https://www.flanerbouger.fr69123-ville-de-lyon" title="lyon toutes les sorties">Lyon</a></li>
											<li><a href="https://www.flanerbouger.fr31555-ville-de-toulouse" title="toulouse toutes les sorties">Toulouse</a></li>
											<li><a href="https://www.flanerbouger.fr06088-ville-de-nice" title="nice toutes les sorties">Nice</a></li>
											<li><a href="https://www.flanerbouger.fr59350-ville-de-lille" title="lille toutes les sorties">Lille</a></li>
											<li><a href="https://www.flanerbouger.fr44109-ville-de-nantes" title="nantes toutes les sorties">Nantes</a></li>
											<li><a href="https://www.flanerbouger.fr34172-ville-de-montpellier" title="montpellier toutes les sorties">Montpellier</a></li>
											<li><a href="https://www.flanerbouger.fr67482-ville-de-strasbourg" title="strasbourg toutes les sorties">Strasbourg</a></li>
											<li><a href="https://www.flanerbouger.fr33063-ville-de-bordeaux" title="bordeaux toutes les sorties">Bordeaux</a></li>
											<li><a href="https://www.flanerbouger.fr59350-ville-de-lille" title="lille toutes les sorties">Lille</a></li>
											<li><a href="https://www.flanerbouger.fr35238-ville-de-rennes" title="rennes toutes les sorties">Rennes</a></li>
											<li><a href="https://www.flanerbouger.fr51454-ville-de-reims" title="reims toutes les sorties">Reims</a></li>
											<li><a href="https://www.flanerbouger.fr42218-ville-de-saint-etienne" title="saint-etienne toutes les sorties">Saint-Étienne</a></li>
										</ul>
								</section>
								</div>
							</div>
				</div>
                <div class="col-md-3">
					<div class="footer-fourth">
						<div class="region region-footer-fourth">
							<section id="block-block-4" class="block block-block clearfix clearfix">
							<h2 class="block-title" >IDEES</h2>
								<ul class="footer-list">
									<li><a href="https://www.flanerbouger.fr/vide-greniers" title="Calendrier Vide-greniers brocantes">Agenda Vide-greniers</a></li>
									<li><a href="https://www.flanerbouger.fr/fete" title="Calendrier des Fêtes locales et des villages">Agenda des Fêtes </a></li>
									<li><a href="https://www.flanerbouger.fr/foires" title="Agenda des foires en France">Agenda des Foires</a></li>
									<li><a href="https://www.flanerbouger.fr/jeux-sport" title="pratiquer,découvrir un sport ou un jeu">Jouer, s'amuser</a></li>
									<li><a href="https://www.flanerbouger.fr/jour-marche" title="Calendrier des marchés en France">Dates des marché</a></li>
									<li><a href="https://www.flanerbouger.fr/sorties" title="trouver une sortie ce weekend">Idées de sorties</a></li>
									<li><a href="https://www.flanerbouger.fr/spectacles" title="Pour se divertir assistez à un spectacle">Agenda Spectacles</a></li>
									<li><a href="https://www.flanerbouger.fr/prestation" title="offre demandes prestations ">Offres de Prestations</a></li>
									<li><a href="https://www.flanerbouger.fr/adresses" title="Découvrez de bonnes adresses">Bonnes adresses</a></li>
								</ul>
							</section>
						</div>
                    </div>
				</div>

                <div class="col-md-3">
					<div class="footer-fourth">
						<div class="region region-footer-fourth">
							<section id="block-block-4" class="block block-block clearfix clearfix">
							<h2 class="block-title">LIENS UTILES</h2>
								<ul class="footer-list">
									<li><a href="https://www.flanerbouger.fr/legislation/mentions-legales.php" target="_blank">Mentions légales</a></li>
									<li><a href="https://www.flanerbouger.fr/privacy/index.php" target="_blank">Cookies</a></li>
									<li><a href="https://www.flanerbouger.fr/annuaire/partenaire.php" target="_blank">Partenaires</a></li>
									<li><a href="https://www.flanerbouger.fr/events/contact.php">Contact</a></li>
								</ul>
							</section>
						</div>
                    </div>
				</div>

                <div class="col-md-3">
					<div class="footer-fifth">
						<div class="region region-footer-fifth">
							<section id="block-block-2" class="block block-block clearfix clearfix">
								<h2 class="block-title">Flaner Bouger</h2>
							<p>Le site flanerbouger.fr est un agenda web gratuit d'annonces d'évènements locaux et festifs sur la France entière.</p>
							<p>Au service des associations, comités des fêtes, clubs, organisateurs pour la promotion de leurs évènements.</p>
							</section>
						</div>
                    </div>
				</div>
            </div>
        </div>
        <!-- EOF: #footer-inside -->    
    </div>
 
</footer>
