<header id="header" role="banner" class="clearfix">
    <div class="container">
        <!-- #header-inside -->
        <div id="header-inside" class="clearfix">
            <div class="row">
                <div class="col-md-3 clearfix">
					<div id="logo">
						<a href="https://www.flanerbouger.fr" title="Agenda des sorties autour de moi" rel="home"><img src="/img/logo-full-h-32.png" alt="Flaner Bouger, toutes vos sorties"></a>
					</div>                                  
                </div>
                 <div class="col-md-9">
                 <div class="tal">
                 	<h1 class="v7">Actuellement, <span class="textmaincolor">XXXXX</span> sorties pour vous en France</h1>
					
                 </div>
                </div>                
            </div>

        </div>

        <!-- EOF: #header-inside -->
    </div>
</header>