								<section id="block-views-categories" class="block block-views clearfix clearfix">
									<div class="view view-categories view-id-categories view-display-id-block_1 view-dom-id-43e420e20f6c17791597d09f13664d15">
										<div class="view-header">
											<h2
												class="home-block-title rtecenter v8">
												<!--Flaner Bouger <span class="themecolor-text">: Sortir, c'est facile !</span>-->
												<b>Flaner Bouger</b>
												: Sortir, c'est facile !
											</h2>
											<h5>
												<font color="white">
													<center>
														Chaque jour, de nouvelles idées de sorties et loisirs à venir ou à faire près de chez vous.
													</h5>
													<center>
														Trouvez les foires, fêtes, marchés, spectacles, brocantes, expositions, visites de votre ville et autour de vous.
													</font>

													<br/><br/>
													FlanerBouger est votre agenda en ligne gratuit pour trouver facilement les événements qui vous intéressent près de chez vous. Concerts, festivals, expositions, marchés, animations pour enfants... Consultez notre agenda et ne manquez plus aucune sortie !</center>
											</div><br/><br/>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">VIDE-GRENIERS</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	17501 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/vide-greniers">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/7/7.jpg" alt="Agenda des vide-greniers et brocantes partout en France">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/vide-greniers">VIDE-GRENIERS</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Les vide-greniers en France Pour trouver la date d'un vide-greniers pour vendre ou acheter : Brocante, débarras, vide-maisons...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">Fêtes</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	35421 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/fete">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/1/1.jpg" alt="Agenda des fêtes en france">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/fete">Fêtes</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Fêtes foraines, Fêtes patronales, Fêtes votives, l'occasion de se divertir et s'amuser.</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>

											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">FOIRES</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	5473 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/foire">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/2/2.jpg" alt="Agenda et calendrier Foires en france">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/foire">FOIRES</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Retrouvez les prochaines Foires, Salons, Expositions, Foires Expositions, Foires à Tout, Foires aux bestiaux, elles rythment les saisons comme ...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>

											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">SPORTS</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	29047 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/events/jeux-sport">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/3/3.jpg" alt="Agenda des compétitions sportives en france">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/events/jeux-sport">SPORTS</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Calendriers des évènements sportifs : Date, Lieu, Informations,et vous annoncez vos dates de compétitions, concours...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">MARCHÉS</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	12534 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/jour-marche">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/4/4.jpg" alt="Pour trouver un marché En France">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/jour-marche">MARCHÉS</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Les Marchés en France, les jours de Marché autour de vous par date, par thème, en semaine ou le weekend tous les marchés...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">SORTIES</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	44494 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/event/">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/5/5.jpg" alt="Des idées de sorties partout en France">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/event/">SORTIES</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Des idées de sorties autour de vous pour le weekend, à partager avec les amis et la famille...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">SPECTACLES</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">

																<div class="field-node-count">
																	37490 annonces
																</div>

																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/spectacles/">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/6/6.jpg" alt="Agenda des spectacles partout en France">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/spectacles/">SPECTACLES</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Les régions sont riches de spectacles organisés toute l'année. Découvrez les dates des représentations de Théâtre, les tournées des artistes...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="view-content">

												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">Prestations</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">
																<div class="field-node-count">
																	64 annonces
																</div>
																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/events/prestation" title="Prestations">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/67/67.jpg" alt="Prestations : offres et demandes">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/events/prestation" title="Les prestations : offres et demandes">Prestations</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Prestation : offres et demandes : Organisateurs vous rechercher des prestataires, envoyer vos offres. Prestataires vous aussi passer vos annonces faites connaitre vos activités en vous inscrivant dan...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>

											</div>
											<div class="view-content">

												<div class="views-row views-row-1 views-row-odd views-row-first col-sm-4">
													<h2 class="home-block-title catTitle">Adresses</h2>
													<div class="views-row-inner">
														<div class="views-field views-field-field-category-image">
															<div class="field-content">
																<div class="field-node-count">
																	126 annonces
																</div>
																<div class="field-category-image">
																	<a href="https://www.flanerbouger.fr/events/adresses" title="Adresses">
																		<img class="img-responsive" src="./events/getImage?maxw=400&maxh=400&t=storage/categories&fromfile=storage/categories/68/68.jpg" alt="Adresses">
																	</a>
																</div>
															</div>
														</div>
														<div class="views-field views-field-name">
															<span class="field-content">
																<a href="https://www.flanerbouger.fr/events/adresses" title="Adresses">Adresses</a>
															</span>
														</div>
														<div class="views-field views-field-description-1">
															<div class="field-content">
																<p>Les bonnes adresses  - Trouver Les adresses utiles autour de vous :  restaurants, boulangers, salles de spectacles... Quotidien...</p>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</section>