<div id="white-background-wrapper" class="clearfix">
	<h2 class="home-block-title" style="font-size: 20px; font-weight: 700; padding-bottom: 20px; margin-top: 20px">
		BIENVENUE SUR FLANER BOUGER
	</h2>
	<h2 class="home-block-title" style="font-size: 20px; font-weight: 700; padding-bottom: 20px; margin-top: 20px">
		Trouver une sortie partout en France, aujourd'hui, ce weekend.
	</h2>
</div>
