<section id="content-bottom-third" class="col-md-12 content-bottom-third clearfix">
	<div class="region region-content-bottom-third">


		<section id="block-block-31" class="block block-block clearfix clearfix">
			<h2 class="home-block-title">Promotion gratuite de vos évènements avec
				<span class="themecolor-text">Flaner Bouger</span>
			</h2>
			<br>
			<center>
				<b>Faites connaître vos événements gratuitement</b><br/><br/>
				Vous organisez un événement ? Faites-le connaître gratuitement sur FlanerBouger.fr !
				<br/>Notre plateforme est dédiée à la promotion des événements locaux et festifs en France. Créez votre annonce en quelques clics et rejoignez notre communauté.</center><br/><br/>
			<div class="col-md-3">
				<p class="rtecenter">
					<i class="fa fa-user fa-3x themecolor-text"></i>
				</p>
				<p class="rtecenter">+ de 8 millions de visiteurs</p>
			</div>
			<div class="col-md-3">
				<p class="rtecenter">
					<i class="fa fa-trophy fa-3x themecolor-text"></i>
				</p>
				<p class="rtecenter">De nombreux prestataires nous font confiance</p>
			</div>
			<div class="col-md-3">
				<p class="rtecenter">
					<i class="fa fa-paper-plane-o fa-3x themecolor-text"></i>
				</p>
				<p class="rtecenter">+ de 14 millions de pages vues</p>
			</div>
			<div class="col-md-3">
				<p class="rtecenter">
					<i class="fa fa-th-list fa-3x themecolor-text"></i>
				</p>
				<p class="rtecenter">+ de 10000 annonces par mois</p>
			</div>
		</section>
	</div>
</section>
