{% extends 'base.html.twig' %}

{% block main %}
	<div id="main-content" style="height: auto !important;">
		<div class="container" style="height: auto !important;">
			<a href="/" data-modified-href="https://www.flanerbouger.fr/">Agenda</a>
			&gt;<a href="/events/" data-modified-href="https://www.flanerbouger.fr/events">events</a>
			&gt;
			<a href="/events/index.php" data-modified-href="https://www.flanerbouger.fr/events/index.php"></a>
			<div class="row" style="height: auto !important;">
				<section
					class="col-sm-8" style="height: auto !important; min-height: 0px !important;">
					<!--<div class="ad">
													 <script class='__lxGc__' type='text/javascript'>
													((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210089']=__lxGc__['s']['_210089']||{'b':{}})['b']['_612707']={'i':__lxGc__.b++};
													</script>
												</div>-->
					<h1 class="tac">Les
						{{category.title}}
						en France</h1>
					<div class="pnomargin mb10">
                        {{category.description|raw  }}
					</div>
					<div class="v1">
						<b>{{count}} {{category.title}}</b>
						à découvrir, dates et lieux.</div>

                    {% for event in events %}
                        {% include 'partials/_cardEvent.html.twig' with {'event': event} %}
                    {% endfor %}


					<div class="fixed-table-pagination">
						<div class="tac">
							<ul class="pagination">

								<li class="page-number active">
									<a href="javascript:void(0)" data-modified-href="https://www.flanerbouger.fr/javascript:void(0)">1</a>
								</li>
								<li class="page-number vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=2&amp;mpp=30&amp;" title="Page 2" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=2&amp;mpp=30&amp;">2</a>
								</li>
								<li class="page-number vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=3&amp;mpp=30&amp;" title="Page 3" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=3&amp;mpp=30&amp;">3</a>
								</li>
								<li class="page-number vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=4&amp;mpp=30&amp;" title="Page 4" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=4&amp;mpp=30&amp;">4</a>
								</li>
								<li class="page-number vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=5&amp;mpp=30&amp;" title="Page 5" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=5&amp;mpp=30&amp;">5</a>
								</li>
								<li class="page-number">
									<a href="javascript:void(0)" class="nohover" data-modified-href="https://www.flanerbouger.fr/javascript:void(0)">...</a>
								</li>
								<li class="page-number vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=6&amp;mpp=30&amp;" title="Page 6" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=6&amp;mpp=30&amp;">6</a>
								</li>
								<li class="page-next vloading">
									<a href="//www.flanerbouger.fr/events/marches-potiers?page=2&amp;mpp=30&amp;" title="Page 2" aria-label="Next" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?page=2&amp;mpp=30&amp;">
										<i class="fa fa-angle-double-right"></i>
									</a>
								</li>

							</ul>
						</div>
						<div class="pagination-detail" style="width: 400px; margin: 0 auto;">
							<span class="pagination-info">1 sur 30/172 sorties. Afficher
							</span>
							<span class="page-list">
								<span class="btn-group dropup">
									<button type="button" class="btn btn-default dropdown-toggle v2" data-toggle="dropdown">
										<span class="page-size">30</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li class="vloading ">
											<a href="//www.flanerbouger.fr/events/marches-potiers?mpp=30&amp;" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?mpp=30&amp;">30</a>
										</li>
										<li class="vloading ">
											<a href="//www.flanerbouger.fr/events/marches-potiers?mpp=60&amp;" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?mpp=60&amp;">60</a>
										</li>
										<li class="vloading ">
											<a href="//www.flanerbouger.fr/events/marches-potiers?mpp=100&amp;" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers?mpp=100&amp;">100</a>
										</li>
									</ul>
								</span>
								sorties par page
							</span>
						</div>
					</div>
					<div class="clearfix"></div>


				</section>
				<aside class="col-sm-4" style="height: auto !important; min-height: 0px !important;">
					<section id="sidebar-second" class="sidebar clearfix" style="height: auto !important;">
						<section id="block-views-list-business-block-1" class="block block-views clearfix clearfix">

							<div class="view view-list-business view-id-list_business view-display-id-block_1 block-similar-business">
								<div class="view-content">

									<div class="views-row views-row-1 views-row-odd views-row-first">
										<div class="views-row-inner">
											<h2 class="block-title">Fête du Jour</h2>
											 <script language="javascript" type="text/javascript">
																							<!-- Ecrire la date
																							function initArrayDate () {
																								for(i=0;i<initArrayDate.arguments.length; i++) this[i] = initArrayDate.arguments[i];
																							}
																							function CalculDate () {
																								var Months= new initArrayDate("Janvier","F&eacute;vrier","Mars","Avril","Mai","Juin","Juillet","Ao&ucirc;t","Septembre","Octobre","Novembre","D&eacute;cembre")
																								var Days  = new initArrayDate("Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche");
																								var today = new Date();
																								var compYear = (today.getYear()>99 && today.getYear()<1970) ? today.getYear()+1900 : today.getYear();
																								return (Days[today.getDay()]+" "+today.getDate()+" "+Months[today.getMonth()]+" "+compYear);
																							}
																							document.write( (CalculDate ()));
																							
																							// -->
																						</script>
											Vendredi 24 Octobre 2025
											<br><br><h3> <script src="https://www.flanerbouger.fr/js/fete.js" type="text/javascript">
																							</script>
												 <script type="text/javascript">
																								<!--
																								var date=new Date();
																								FeteDuJour(date.getFullYear(),date.getMonth()+1,date.getDate());
																								// -->
																								
																							</script>
											</h3>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<div class="ad side">
							<ins class="adsbygoogle" style="display: block; height: 280px;" data-full-width-responsive="true" data-ad-client="ca-pub-0572363072790781" data-ad-slot="3348675323" data-ad-format="auto" data-adsbygoogle-status="done" data-ad-status="filled">
								<div id="aswift_2_host" style="border: none; height: 280px; width: 360px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block; overflow: visible;">
									<iframe id="aswift_2" name="aswift_2" browsingtopics="true" style="left:0;position:absolute;top:0;border:0;width:360px;height:280px;min-height:auto;max-height:none;min-width:auto;max-width:none;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="360" height="280" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allow="attribution-reporting; run-ad-auction" src="https://googleads.g.doubleclick.net/pagead/ads?gdpr=1&amp;gdpr_consent=CQXh3sAQXh3sAEsACBFRB7FoAP_gAEPgAAqIK1IB_C7EbCFCiDp3IKMEMAhHABBAYsAwAAYBAwAADBIQIAQCgkEYBASAFCACCAAAKASBAAAgCAAAAUAAIAAVAABAAAwAIBAIIAAAgAAAAEAIAAAACIAAEQCAAAAEAEAAkAgAAAIASAAAAAAAAACBAAAAAAAAAAAAAAAABAAAAQAAQAAAAAAAiAAAAAAAABAIAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAABAAAAAAAQR2QD-F2I2EKFEHCuQUYIYBCuACAAxYBgAAwCBgAAGCQgQAgFJIIkCAEAIEAAEAAAQAgCAABQEBAAAIAAAAAqAACAABgAQCAQQIABAAAAgIAAAAAAEQAAIgEAAAAIAIABABAAAAQAkAAAAAAAAAECAAAAAAAAAAAAAAAAAAAAAEABgAAAAAABEAAAAAAAACAQIAAA&amp;addtl_consent=2~61.89.122.184.196.230.314.442.445.494.550.576.827.1029.1033.1046.1047.1051.1097.1126.1166.1301.1342.1415.1725.1765.1942.1958.1987.2068.2072.2074.2107.2213.2219.2223.2224.2328.2331.2387.2416.2501.2567.2568.2575.2657.2686.2778.2869.2878.2908.2920.2963.3005.3023.3100.3126.3219.3234.3235.3253.3309.3731.6931.8931.13731.15731.33931~dv.&amp;client=ca-pub-0572363072790781&amp;output=html&amp;h=280&amp;slotname=3348675323&amp;adk=2397097949&amp;adf=4029885624&amp;pi=t.ma~as.3348675323&amp;w=360&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1761324954&amp;rafmt=1&amp;format=360x280&amp;url=https%3A%2F%2Fwww.flanerbouger.fr%2Fmarches-potiers%2F&amp;fwr=0&amp;fwrattr=true&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;aieuf=1&amp;uach=WyJXaW5kb3dzIiwiMTkuMC4wIiwieDg2IiwiIiwiMTQxLjAuNzM5MC4xMDgiLG51bGwsMCxudWxsLCI2NCIsW1siR29vZ2xlIENocm9tZSIsIjE0MS4wLjczOTAuMTA4Il0sWyJOb3Q_QV9CcmFuZCIsIjguMC4wLjAiXSxbIkNocm9taXVtIiwiMTQxLjAuNzM5MC4xMDgiXV0sMF0.&amp;abgtt=1&amp;dt=1761324953880&amp;bpp=2&amp;bdt=21688&amp;idt=339&amp;shv=r20251022&amp;mjsv=m202510230101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3D2d4e43d4aeb71242%3AT%3D1757495581%3ART%3D1761324633%3AS%3DALNI_MZz10Toa0jxM9v4tHB-6hUmCg_1Ug&amp;gpic=UID%3D00001284fab8ffd8%3AT%3D1757495581%3ART%3D1761324633%3AS%3DALNI_MaKO-5qe9gcPR9576LjviS5M-0Yeg&amp;eo_id_str=ID%3Dbd8659695a8464e2%3AT%3D1757495581%3ART%3D1761324633%3AS%3DAA-AfjbMqTChw2Dq-eyex69Qlgya&amp;prev_fmts=0x0%2C750x280&amp;nras=1&amp;correlator=1447483660723&amp;frm=20&amp;pv=1&amp;u_tz=120&amp;u_his=43&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1032&amp;u_aw=1920&amp;u_cd=24&amp;u_sd=1&amp;dmc=8&amp;adx=871&amp;ady=975&amp;biw=1321&amp;bih=911&amp;scr_x=0&amp;scr_y=0&amp;eid=31095410%2C42531705%2C95373975%2C95374289%2C95374626%2C95375702%2C95375999%2C31095430&amp;oid=2&amp;pvsid=7558258129094093&amp;tmod=86900312&amp;uas=0&amp;nvt=1&amp;fc=1920&amp;brdim=-1920%2C0%2C-1920%2C0%2C1920%2C0%2C1920%2C1032%2C1336%2C911&amp;vis=1&amp;rsz=%7C%7CeEbr%7C&amp;abl=CS&amp;pfx=0&amp;fu=128&amp;bc=31&amp;bz=1.44&amp;td=1&amp;tdf=2&amp;psd=W251bGwsW251bGwsbnVsbCxudWxsLCJkZXByZWNhdGVkX2thbm9uIl0sbnVsbCwzXQ..&amp;nt=1&amp;ifi=3&amp;uci=a!3&amp;btvi=2&amp;fsb=1&amp;dtd=569" data-google-container-id="a!3" tabindex="0" title="Advertisement" aria-label="Advertisement" data-google-query-id="CJmanuKmvZADFUhNHgIdBMcF-g" data-load-complete="true"></iframe>
								</div>
							</ins>
							 <script type="text/javascript">
									                        (adsbygoogle = window.adsbygoogle || []).push({});
									                    </script>
						</div>
						<div class="region region-sidebar-second">

							<section id="block-views-list-business-block-1" class="block block-views clearfix clearfix">
								<h2 class="block-title">
									<a href="//www.flanerbouger.fr/events/jour-marche" data-modified-href="https://www.flanerbouger.fr/events/jour-marche">Les Marchés</a>
								</h2>
								<div class="view view-list-business view-id-list_business view-display-id-block_1 block-similar-business">
									<div class="view-content">
										<hr>
										<ul>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-bio" title="Marchés bio" data-modified-href="https://www.flanerbouger.fr/events/marches-bio">Marchés bio</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-potiers" title="Marchés de potiers" data-modified-href="https://www.flanerbouger.fr/events/marches-potiers">Marchés de potiers</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-provencaux" title="Marchés en Provence" data-modified-href="https://www.flanerbouger.fr/events/marches-provencaux">Marchés en Provence</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-de-noel" title="Marchés de Noël" data-modified-href="https://www.flanerbouger.fr/events/marches-de-noel">Marchés de Noël</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-nocturnes" title="Marchés nocturnes" data-modified-href="https://www.flanerbouger.fr/events/marches-nocturnes">Marchés nocturnes</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marches-estivals" title="Marchés d'été" data-modified-href="https://www.flanerbouger.fr/events/marches-estivals">Marchés d'été</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marche-producteur" title="Marchés de Producteurs" data-modified-href="https://www.flanerbouger.fr/events/marche-producteur">Marchés de Producteurs</a>
											</li>
											<li>
												<a href="//www.flanerbouger.fr/events/marche-createur" title="Marchés de créateurs" data-modified-href="https://www.flanerbouger.fr/events/marche-createur">Marchés de créateurs</a>
											</li>
										</ul>
										<hr>
									</div>
								</div>
							</section>
						</div>

						<div class="region region-sidebar-second">
							<section id="block-views-list-business-block-1" class="block block-views clearfix clearfix">

								<h2 class="block-title">Annonce gratuite</h2>
								<div class="view view-list-business view-id-list_business view-display-id-block_1 block-similar-business">
									<div class="view-content">
										<a href="//www.flanerbouger.fr/events/creer-votre-evenement.php" data-modified-href="https://www.flanerbouger.fr/events/creer-votre-evenement.php">Formulaire</a>
										<hr>
									</div>
								</div>
							</section>

						</div>

						<section id="sidebar-second" class="sidebar clearfix">
							<div class="region region-sidebar-second">
								<section id="block-views-list-business-block-1" class="block block-views clearfix clearfix">
									<h2 class="block-title">Vos expériences</h2>
									<div class="view view-list-business view-id-list_business view-display-id-block_1 block-similar-business">
										<div class="view-content">

											<link async="" href="https://www.flanerbouger.fr/css/sponsor.css" rel="stylesheet">

											<a href="https://www.awin1.com/cread.php?awinmid=75954&amp;awinaffid=562857&amp;campaign=sport-decouverte&amp;ued=https%3A%2F%2Fwww.sport-decouverte.com" target="_blank" rel="sponsored" class="sponsor" data-modified-href="https://www.sport-decouverte.com/?sv1=affiliate&amp;sv_campaign_id=562857&amp;awc=75954_1753823293_796c6ba0043203bda6abccdc2d3836f2&amp;utm_source=awin&amp;utm_medium=affiliate&amp;utm_campaign=562857&amp;utm_content=Linking+via+Landing+Pages">
												<img src="https://www.flanerbouger.fr/img/sport decouverte.png" alt="Site " title="Offrez l’inoubliable ! Plus de 5000 activités dans toute la France"></a>
											<a>

												<br><br>
											</a>
											<a href="https://www.stay22.com/allez/getyourguide?aid=flanerbouger&amp;campaign=flanerbougerfr-marchespotiers&amp;product=lma&amp;habl=false&amp;isinc=false&amp;sid22=de00f11d-417f-4d32-94a7-b59883ecb7ff&amp;plng=fr&amp;pageCategory=travel&amp;source=direct&amp;medium=deeplink&amp;address=France&amp;link=https%3A%2F%2Fwww.getyourguide.com%2Ffrance-l169008%3Futm_medium%3Donline_publisher%26cmp%3Dfrance" title="Des avntures avec Get Your Guide" target="_blank" rel="sponsored" class="sponsor" data-modified-href="https://www.getyourguide.com/france-l169008?utm_medium=online_publisher&amp;cmp=france" data-s22url="https://www.stay22.com/allez/getyourguide?aid=flanerbouger&amp;campaign=flanerbougerfr-marchespotiers&amp;product=lma&amp;habl=false&amp;isinc=false&amp;sid22=de00f11d-417f-4d32-94a7-b59883ecb7ff&amp;plng=fr&amp;pageCategory=travel&amp;source=direct&amp;medium=deeplink&amp;address=France&amp;link=https%3A%2F%2Fwww.getyourguide.com%2Ffrance-l169008%3Futm_medium%3Donline_publisher%26cmp%3Dfrance" data-is-converted22="true">
												<img src="https://www.flanerbouger.fr/img/gyg.png" alt="Plus d'experience avec Get Your Guide"></a>

											<br><br>
											<a href="https://www.tiqets.com/fr/activites-attractions-france-z50074/?currency=EUR&amp;partner=sas_flaner_bouger&amp;widget_vf=DiscoveryWidget_Jaf6j9FrZXcB3jLUmkxW8&amp;utm_campaign=sas_flaner_bouger&amp;utm_source=sas_flaner_bouger&amp;utm_content=discovery_widget&amp;utm_medium=affiliate" title="L'offre de réservation avec Tiqets" target="_blank" rel="sponsored" class="sponsor" data-modified-href="https://www.tiqets.com/fr/activites-attractions-france-z50074?currency=EUR&amp;partner=sas_flaner_bouger&amp;widget_vf=DiscoveryWidget_Jaf6j9FrZXcB3jLUmkxW8&amp;utm_campaign=sas_flaner_bouger&amp;utm_source=sas_flaner_bouger&amp;utm_content=discovery_widget&amp;utm_medium=affiliate">
												<img src="https://www.flanerbouger.fr/img/tiqets.png" alt="Tiqets votre fournisseur d'experience"></a>
										</div>
									</div>
								</section>
							</div>
						</section>
						<section id="sidebar-second" class="sidebar clearfix">
							<div class="region region-sidebar-second">
								<section id="block-views-list-business-block-1" class="block block-views clearfix clearfix">
									<h2 class="block-title">Billetterie</h2>
									<div class="view view-list-business view-id-list_business view-display-id-block_1 block-similar-business">
										<div class="view-content">
											<a href="https://www.awin1.com/cread.php?awinmid=12494&amp;awinaffid=562857&amp;campaign=fnac&amp;ued=https%3A%2F%2Fwww.fnacspectacles.com" title="Billeterie Fnac Spectacles" target="_blank" rel="sponsore" class="sponsor" data-modified-href="https://www.fnacspectacles.com/?affiliate=QM0&amp;affiliate=QM0&amp;sv1=affiliate&amp;sv_campaign_id=562857&amp;awc=12494_1750534264_605cbc830db2e0fbbdd2523662f8abdf&amp;utm_source=Awin&amp;utm_campaign=562857&amp;utm_medium=affiliate">
												<img src="https://www.flanerbouger.fr/img/fnac spectacles.png" alt="Réservez vos places sur Fnac Spectacles"></a>
											<br><br>
											<a href="https://www.awin1.com/cread.php?awinmid=20796&amp;awinaffid=562857&amp;campaign=BilletReduc&amp;ued=https%3A%2F%2Fwww.billetreduc.com" title="Réservation de places de spectacles à prix réduits" target="_blank" rel="sponsored" class="sponsor" data-modified-href="https://www.billetreduc.com/?utm_source=awin&amp;utm_campaign=sas+Flaner+Bouger&amp;utm_medium=affiliate&amp;aw_affid=562857&amp;awc=20796_1758696506_67b1b270c1162adf2f82f1847f2b2d35">
												<img src="https://www.flanerbouger.fr/img/billet reduc.png" alt="Réservez vos places sur Billet Reduc"></a>
										</div>
									</div>
								</section>
							</div>
						</section>
					</section>
				</aside>
			</div>
		</div>
	</div>
{% endblock %}
